---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostCard from '../../components/PostCard.astro';
import { getCollection } from 'astro:content';
import { SITE_TITLE } from '../../consts';
import LayoutContainer from '../../components/LayoutContainer.astro';

export const prerender = true;

const posts = await getCollection('blog', post => !post.data.draft);
const sortedPosts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout 
  title={`All Posts | ${SITE_TITLE}`}
  description="Browse all posts on the blog"
>
  <LayoutContainer size="lg" padding="md">
    <main class="py-12">
      <h1 class="text-4xl font-bold mb-8 max-w-content mx-auto">All Posts</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-content mx-auto">
        {sortedPosts.map((post) => (
          <PostCard post={post} />
        ))}
      </div>
    </main>
  </LayoutContainer>
</BaseLayout> 