<div class="back-container">
  <a href="/" class="back-link">← Back to Home</a>
</div>

<style>
  .back-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--space-6);
    width: 100%;
  }

  .back-link {
    display: inline-block;
    color: var(--accent);
    text-decoration: none;
    font-size: 1.1em;
    transition: opacity var(--transition-duration) var(--transition-timing);
    
    &:hover {
      opacity: 0.8;
    }
  }
</style> 