---
interface Props {
	content: string;
	author?: string;
	cite?: string;
}

const { content, author, cite } = Astro.props;
---

<blockquote>
	<p>{content}</p>
	{author && (
		<footer>
			<cite>
				{author}
				{cite && (
					<>
						, <a href={cite} target="_blank" rel="noopener noreferrer">source</a>
					</>
				)}
			</cite>
		</footer>
	)}
</blockquote> 