---
import { DISCLAIMER_TEXT } from '../consts';

interface Props {
  text?: string;
}

const { text = DISCLAIMER_TEXT } = Astro.props;
---

<div role="complementary" aria-label="Disclaimer">
	<div>
		<span>🌟</span>
		<span>Sacred Disclaimer</span>
    </div>
	<p set:html={text} />
</div> 