---
import { SITE_TITLE } from '../consts';
---
<a href="/" class="flex items-center space-x-2 text-text dark:text-gray-light hover:text-primary dark:hover:text-primary transition-colors duration-300">
  <img 
    src="/sh-sh-logo.svg" 
    alt="Strong Hands Soft Heart Logo" 
    class="w-8 h-8"
    width="32"
    height="32"
  />
  <span class="font-bold text-xl">{SITE_TITLE}</span>
</a> 