---
import { SITE_TITLE } from '../consts';

interface Props {
  size?: 'sm' | 'md';
}

const { size = 'md' } = Astro.props;
const sizeClasses = {
  sm: 'w-6 h-6',
  md: 'w-8 h-8'
};
---
<a href="/" class="flex items-center space-x-2 text-text dark:text-text-dark hover:text-primary-500 dark:hover:text-primary-400 transition-colors duration-300">
  <img 
    src="/sh-sh-logo.svg" 
    alt="Strong Hands Soft Heart Logo" 
    class={sizeClasses[size]}
    width={size === 'sm' ? '24' : '32'}
    height={size === 'sm' ? '24' : '32'}
  />
  <span class="font-bold text-xl">{SITE_TITLE}</span>
</a> 