---
interface Props {
	class?: string;
}

const { class: className = '' } = Astro.props;
---

<div>
	<div
		id="reading-progress"
		style="width: 0%"
	/>
</div>

<script>
	const readingProgress = document.getElementById('reading-progress')!;
	
	function updateReadingProgress() {
		const windowHeight = window.innerHeight;
		const documentHeight = document.documentElement.scrollHeight - windowHeight;
		const scrolled = window.scrollY;
		
		const progress = (scrolled / documentHeight) * 100;
		readingProgress.style.width = `${progress}%`;
	}

	window.addEventListener('scroll', updateReadingProgress);
	window.addEventListener('resize', updateReadingProgress);
	
	updateReadingProgress();
</script> 