---
import Icon from './Icon.astro';
---
<button
	type="button"
	aria-label="Toggle theme"
	id="theme-toggle"
>
	<Icon name="sun" class="dark:hidden" />
	<Icon name="moon" class="hidden dark:block" />
</button>