---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
import BackToTop from '../components/BackToTop.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Analytics from '@vercel/analytics/astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description?: string;
}

const { title, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <BackToTop />
    <Analytics />
  </body>
</html>

<style>
  main {
    min-height: calc(100vh - 200px);
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 1rem;
  }

  @media (min-width: 768px) {
    main {
      padding: 2rem;
    }
  }

  /* View Transitions */
  :root {
    view-transition-name: none;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }

  /* Dark mode */
  .dark::view-transition-old(root) {
    z-index: 1;
  }
  .dark::view-transition-new(root) {
    z-index: 999;
  }

  ::view-transition-old(root) {
    z-index: 999;
  }
  ::view-transition-new(root) {
    z-index: 1;
  }
</style> 