---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description,
  ...rest
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  {...rest}
>
  <div class="w-full px-4 md:px-6 lg:px-8 xl:px-12">
    <slot />
  </div>
</BaseLayout> 